extends layout

block head

block content

    .content
        form
            .row
              .large-4.columns
                label
                  | Nome
                  input(type='text', placeholder='')
              .large-4.columns
                label
                  | Dependente 01
                  input(type='text', placeholder='')
              .large-4.columns
                label
                  | Dependente 02
                  input(type='text', placeholder='')
            .row
              .large-2.columns
                label
                  | Data Cadastro
                  input(type='datetime-local', placeholder='')
              .large-2.columns
                label
                  | Sexo
                  select
                    option(value='masculio') Masculino
                    option(value='feminino') Feminino
              .large-2.columns
                label
                  | RG
                  input(type='number', placeholder='')
              .large-4.columns
                label
                  | Endereço
                  input(type='text', placeholder='endereço, 1000')
              .large-2.columns
                label
                  | DataNascimento
                  input(type='datetime-local', placeholder='')
            .row
              .large-3.columns
                label
                  | Bairro
                  select
                    option(value='masculio') Alvorada
                    option(value='masculio') Barreiro
                    option(value='masculio') Caramuru
                    option(value='masculio') Laranjeiras
                    option(value='masculio') NS Fátima
                    option(value='masculio') NS Graças
                    option(value='masculio') Sorriso
              .large-2.columns
                label
                  | CEP
                  input(type='number', placeholder='')
              .large-3.columns
                label
                  | Cidade
                  input(type='text', placeholder='')
              .large-1.columns
                label
                  | UF
                  select
                    option(value='masculio') MG
                    option(value='masculio') SP
                    option(value='masculio') RJ
                    option(value='masculio') GO
              .large-3.columns
                label
                  | Input Label
                  input(type='text', placeholder='')
            .row
              .large-12.columns
                label
                  button#salvar.button(style='float: right;', type='submit') Salvar
block rodape