html
	head
		title DINIZVIDEO
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='/css/foundation.css')
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/styler.css')

		block head

	body
		.fixed
			nav.top-bar(data-topbar='data-topbar')
				ul.title-area
					li.name
						h1
							a(href='/')
								img(src='img/logo.png', width='150')
					li.toggle-topbar.menu-icon
						a(href='/')
							span Menu
				section.top-bar-section
					ul.right
						li.active
							a(href='#') Sair
						li.has-dropdown
							a(href='#') Outros Cadastros
							ul.dropdown
								li
									a(href='#') Funiconários
								li
									a(href='#') Fornecedor
								li
									a(href='#') Taxas
					ul.left
						li.has-dropdown.active
							a(href='/index') Movimentos
							ul.dropdown
								li
									a(href='#') Locação
								li
									a(href='#') Devolução
								li
									a(href='#') Reservado
					ul.left
						li.has-dropdown
							a(href='/cliente') Clientes
							ul.dropdown
								li
									a(href='/cadCliente') Cadastrar
								li
									a(href='#') Editar
					ul.left
						li.has-dropdown
							a(href='#') Filmes
							ul.dropdown
								li
									a(href='#') Cadastro
								li
									a(href='#') Editar
				
					
	block content

	





	block rodape
	script(type='text/javascript', src='/js/vendor/modernizr.js')
	script(type='text/javascript', src='/js/vendor/jquery.js')
	script(type='text/javascript', src='/js/foundation.min.js')
	script
		$(document).foundation();