html
	head
		title DINIZVIDEO
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='/css/foundation.css')
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/styler.css')

		block head

	body

		.login
			img(src='img/logo.png', width='150', style='margin: 45px 0px 45px 75px;')
			form.form-signin(action='/login', method='post')		
				.row
					.large-12.columns
						label
							input(type='text', name='text', placeholder='usuario')
							input(type='password', name='password', placeholder='senha')
				.row
					.large-12.columns
						label
							button.button.expand(type='submit', value='login' ,style='float: right;') Acessar
			.form-signin-resposta
				label(style='color: #000; height: 20px;  text-align: center;', for='contactEmailField') #{message}
				label(style='color: #000;  text-align: center;', for='email')							

  
block rodape